.container {
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: center;    
    border: 1px solid var(--primary100);
    border-radius: 7px;
    width: 100%;
}

.icon {
    background: var(--primary100);
    border-radius: 7px 0px 0px 7px;
    width: 10px;
    height: 25px;
    margin-right: 8px;
}