.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 8px;
}

.label {
    font-weight: 700;
    font-size: 13px;
}